.technologies-used{
    background-image: url("src/assets/images/Background.png");
}

.technologies-number {
    background-color: #37ABDE;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    transition: 0.6s;
    -webkit-transition: 0.8s;

}

.technologies-card:hover .technologies-number {
    box-shadow: 0 0 0 500px #37ABDE;
    background-color: white;
    color: #37ABDE;
}

.technologies-card:hover .technologies-name {
    color: white;
}