.aboutus-container{
    text-align: center;
    margin: 2rem;
}

/*.aboutus-heading{*/
/*    font-size: 48px;*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    line-height: normal;*/
/*    margin-bottom: 1rem;*/
/*}*/
/*.aboutus-subtitle{*/
/*    font-size: 24px;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    line-height: normal;*/
/*    margin-bottom: 1rem;*/

/*}*/
/*.aboutus-description{*/
/*    text-align: right;*/
/*    font-size: 24px;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    line-height: normal;*/
/*    margin-bottom: 1rem;*/
/*    margin: 0 4rem;*/
/*}*/


@media (max-width:1020px) {
    .iphoneimage{
        display: none;
    }
}