.header{
    height: 100vh;

    background-image: url("src/assets/images/Background.png");
    background-position: center;
    background-size: cover;
    /* position: relative; */
}

.header-text  {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.header-image img{
    width: 80%;
}
@media (max-width: 1000px) {
    .header-image img{
        display: none;
    }
    .header-text {
        margin-top: 5rem;
        margin-bottom: 10rem;
    }
}

.header .header-text button {
    display: flex;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: #37ABDE;
}

.header .header-text button:hover {
    background-color: transparent;
    border:1px solid #37ABDE;
}

/* .header::after {
    position: absolute;
    bottom: 0;
    content: "";
    background-color: #3FB3E6;
    width: 100%;
    height: 100px;
    opacity: 0.6;
} */

